<?xml version="1.0"?>
<robot name="flat_terrain">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 -0.05" rpy="0 0 0" />
      <geometry>
        <box size="2 2 0.1" />
      </geometry>
      <material name="desert sand">
        <color rgba="0.9297 0.7930 0.6758 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.05" rpy="0 0 0" />
      <geometry>
        <box size="2 2 0.1" />
      </geometry>
    </collision>
  </link>
</robot>